@{
    ViewData["Title"] = "Início";
}

<div class="wrapper-default">
    <div class="container d-flex justify-content-center align-items-center mt-4">
        <a asp-action="Index" asp-controller="Cotacao" class="btn btn-lg btn-primary text-uppercase rounded-0 mr-0">Cotações</a>
        <a asp-protocol="http" asp-host="localhost:57865/swagger" class="btn btn-lg btn-info text-uppercase rounded-0 mx-lg-2 mx-0">Documentação api</a>
        <a asp-protocol="https" asp-host="github.com/bcbrunocesar/challenge-candit" target="_blank" class="btn btn-lg btn-dark text-uppercase text-center rounded-0">
            <i class="fab fa-github fa-lg"></i>
            Bruno Farias
        </a>
    </div>
</div>