@{
    ViewData["Title"] = "Início";
}

<div class="wrapper-default">
    <div class="container d-flex justify-content-center align-items-center mt-4">
        <a asp-action="Index" asp-controller="Cotacao" class="btn btn-lg btn-primary text-uppercase rounded-0">Cotações</a>
    </div>
</div>