@{
    ViewData["Title"] = "Início";
}

<div class="wrapper-default">
    <div class="container d-flex justify-content-center align-items-center mt-4">
        <a asp-action="Index" asp-controller="Cotacao" class="btn btn-lg btn-primary text-uppercase rounded-0 mr-lg-2 mr-0">Cotações</a>
        <a asp-protocol="http" asp-host="localhost:57865/swagger" class="btn btn-lg btn-info text-uppercase rounded-0">Documentação api</a>
    </div>
</div>